{% extends "account/base.html" %}

{% load i18n bootstrap %}
{% load setting_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">

    {% include "socialaccount/snippets/provider_list.html" with process="login" %}

    <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-login="{% settings_value "BOT_NAME" %}" data-size="large" data-auth-url="{% settings_value "TG_REDIRECT_LOGIN_URL" %}"></script>
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            <div>
          {% csrf_token %}
          {{ form |bootstrap }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div>
          <a  class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
          <br />
          <button class="btn btn-default" class="primaryAction" type="submit">{% trans "Sign In" %}</button>
          </div>
        </form>
    </div>
    </div>
</div>

{% endblock %}
